body {
  text-align: center;
  font-family: "Roboto";
  width: 50%;
  margin: auto;
}

#paper-title {
  font-size: 40px;
  margin: auto;
  text-align: left;
}
#paper-subtitle {
  font-size: 28px;
  margin: auto;
  text-align: left;
}
#abstract {
  text-align: justify;
  margin: auto;
  margin-top: 20px;
  font-size: 15px;
}

#gallery-container {
  /* display: flex; */
  flex-direction: row;
  justify-content: left;
}

.cnt-title{
  text-align: left;
  font-size: 28px;
}

.img-container {
  position: relative;
  text-align: left;
  display: flex;
  left: 0;
  top: 0;
  margin-bottom: 20px;
}

.img-r-description {
  margin-left: 20px;
  margin-top: 0;
}
.img-l-description {
  margin-right: 20px;
  margin-top: 0;
  text-align: right;
}
.img-title {
  font-size: 20px;
}
img{
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
}
.img-description {
  position: absolute;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.72);
  color: #fff;
  visibility: visible;
  opacity: 0;
  margin: 0;
  padding: 20px;
  text-align: left;
  transition: opacity 0.2s;
}

.video {
  width: 100%;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
}


.ant {
  font-size: 18px;
  margin: auto;
}